<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Admin <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            @Html.ActionLink("Clinics", "Index", "Clinics", new { area = "Admin" }, null)
        </li>
        <li>
            @Html.ActionLink("Users", "Index", "Users", new { area = "Admin" }, null)
        </li>
        <li>
            @Html.ActionLink("Pets", "Index", "Pets", new { area = "Admin" }, null)
        </li>
        <li>
            @Html.ActionLink("Add User/Clinic Owner", "Create", "UserCreate", new { area = "Admin" }, null)
        </li>
    </ul>
</li>