@model VetSystem.Web.Areas.Pets.ViewModels.PetViewModel

<h3>Your @Model.Species @Model.Name</h3>
<h3>@Model.Age years old</h3>
<div>
    <img src=@Html.DisplayFor(model => model.Picture) alt=@Html.DisplayFor(model => model.Name) class="img-responsive" />
</div>

<div>
    Clinic: @Model.ClinicName
</div>
