@model VetSystem.Web.Areas.Pets.ViewModels.PetViewModel

@Html.DisplayFor(m => m.Name)
@Html.DisplayFor(m => m.Age)
@Html.DisplayFor(m => m.ClinicName)

<div>
    <img src=@Model.Picture alt=@Model.Name class="img-responsive" />
</div>

