@model ICollection<VetSystem.Web.Areas.Pets.ViewModels.PetViewModel>

<h2>My pets</h2>

@foreach (var pet in Model)
{
    <hr />
    @Html.DisplayFor(m => m.First().Name)
	@Html.DisplayFor(m => m.First().Species)
}
