@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron transparentBlock">
    <h1 id="home-header">Vet system</h1>
</div>

<div class="jumbotron transparentBlock">
    <div class="row">
        <div class="col-md-6">
            <div class="panel home-transperent-element">
                <div class="panel-heading text-center">
                    <h2>Top rated clinics</h2>
                </div>
                @{ Html.RenderAction("GetClinicsRatedPartial"); }
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel home-transperent-element">
                <div class="panel-heading text-center">
                    <h2>Top clinics with pets</h2>
                </div>
                @{ Html.RenderAction("GetClinicsTopPetsCountPartial"); }
            </div>
        </div>
    </div>
</div>